body {
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 250px;
}

div#left {
  font-size: 250px;
  margin: 0;
  margin-top: -20px;
}

div#direction {
  display: flex;
  align-items: center;
}

p#direction {
  font-size: 100px;
  margin: 0;
  color: #ea3323;
}

#route {
  margin-top: 25px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-size: 75px;
}

#route_marker {
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.scrolling-text {
  display: inline-block;
  font-size: 75px;
  color: #333;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(100vw); /* Start from the edge of the screen */
  }
  to {
    transform: translateX(
      calc(-100% - 20px)
    ); /* Move it off-screen based on text width */
  }
}
