<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Bus koral</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script>
      const socket = io("http://192.168.0.91:5000");
      socket.on("connect", () => {
        console.log("WebSocket connected");
      });
      socket.on("disconnect", () => {
        console.log("WebSocket disconnected");
      });
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/bus/koral.css') }}"
    />
    <script
      src="{{ url_for('static', filename='/bus/koral.js') }}"
      defer
    ></script>
  </head>
  <body>
    <section id="left">
      <header>
        <div id="vehicle_type">bus</div>
        <div id="line_box">
          <p id="line"></p>
          <p id="line_type"></p>
        </div>
      </header>
      <main id="desc">
        <div class="wtp">
          <div id="logo">
            <img
              src="{{ url_for('static', filename='/bus/icons/wtp.svg') }}"
              alt="error occurred"
            />
          </div>
          <p>Warszawski Transport Publiczny</p>
        </div>
        <div class="contact">
          <div class="info">
            <div id="logo">
              <img
                src="{{ url_for('static', filename='/bus/icons/info.svg') }}"
                alt="info icon"
              />
            </div>
            <p>www.wtp.waw.pl</p>
          </div>
          <div class="phone">
            <div id="logo">
              <img
                src="{{ url_for('static', filename='/bus/icons/phone.svg') }}"
                alt="telephone icon"
              />
            </div>

            <p>19 115</p>
          </div>
        </div>
      </main>
      <main id="info">
        <p>INFORMACJE</p>
        <div></div>
      </main>
      <footer>
        <p id="time"></p>
        <p id="day_of_the_week"></p>
        <p id="date"></p>
      </footer>
    </section>
    <section id="right">
      <header>
        <span id="announcement">
          <div id="info_stop"></div>
          <div id="stop_name"></div>
        </span>
        <hr />
      </header>
      <main>
        <div class="progress"></div>
        <div id="stops"></div>
      </main>
      <footer></footer>
    </section>
  </body>
</html>
