body {
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 250px;
  background-color: white;
}

div#blue_board {
  display: flex;
  height: 260px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(19, 0, 185);
  display: none;
}

div#line {
  font-size: 250px;
  margin: 0;
  margin-top: -20px;
  margin-right: 20px;
}

div#direction {
  display: flex;
  align-items: center;
}

div#right {
  width: 100%;
}

.direction {
  font-size: 100px;
  margin: 0;
}

#route {
  margin-top: 25px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-size: 75px;
  width: 100%;
}

#route_marker {
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 75px;
  color: #333;
  position: absolute;
}
