body {
  font-family: "Roboto";
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}

img {
  width: 50px;
}

p {
  margin: 0;
}

section#left {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  gap: 20px;
  justify-content: space-between;
}

section#left > header {
  display: flex;
  gap: 10px;
}

section#left > header div#vehicle_type {
  height: 200px;
  width: 200px;
  display: flex;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(139, 9, 139);
  color: white;
}

section#left > header div#line_box {
  border: 1px solid rgb(139, 9, 139);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
}

section#left > header > div#line_box p#line {
  height: 75%;
  font-size: 175px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section#left > header > div#line_box p#line_type {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(139, 9, 139);
  width: 100%;
  height: 25%;
  font-size: 40px;
}

main#desc > .wtp {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

main#desc > .wtp p {
  background-color: rgb(211, 211, 211);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}

main#desc > .contact {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

main#desc > .contact > .info {
  display: flex;
  align-items: center;
  background-color: rgb(211, 211, 211);
  width: 70%;
}

main#desc > .contact > .info > p {
  background-color: rgb(211, 211, 211);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

main#desc > .contact > .phone {
  display: flex;
  align-items: center;
  background-color: rgb(211, 211, 211);
  width: 30%;
}

main#desc > .contact > .phone > p {
  background-color: rgb(211, 211, 211);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

main#info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

main#info > p {
  background-color: rgb(218, 218, 39);
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 35px;
  width: 100%;
}

main#info > div {
  background-color: rgb(255, 255, 41);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

section#left > footer {
  background-color: rgb(9, 9, 156);
  color: white;
  display: flex;
  gap: 10px;
  font-size: 35px;
  font-weight: bold;
  height: 75px;
  width: 70%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: auto;
}

section#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

section#right > header {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  width: 100%;
  height: 150px;
}

section#right > header > span {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section#right > header > hr {
  width: 100%;
  margin: 0;
  border: none;
  height: 1px;
  background-color: rgb(139, 9, 139);
}

#stops {
  position: relative;
  top: 140px;
  left: -70px;
  width: 100%;
  height: 0;
  display: block;
  z-index: 10;
}

section#right > main {
  width: 100%;
}

.stop-wrapper {
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
}

.rotated-stop {
  transform: rotate(130deg);
  display: flex;
  align-items: center;
  gap: 10px;
}
.rotated-stop img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
}

.rotated-stop p {
  font-size: 30px;
  white-space: nowrap;
  margin: 0;
}

.stop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop > p.time {
  font-size: 30px;
  transform: rotate(180deg);
}

.progress-bar {
  margin-left: 20px;
  position: relative;
  width: 85%;
  height: 30px;
  background-color: lightgray;
  border-radius: 40px;
  transform: rotate(180deg);
  overflow: visible;
}

.progress-fill {
  height: 100%;
  background-color: rgb(139, 9, 139);
  border-radius: 40px;
  width: 100%;
}

#districts {
  margin-left: 20px;
  margin-top: 20px;
  width: 85%;
  height: 50px;
  background-color: rgb(139, 32, 64);
}

.disabled {
  opacity: 15%;
}
